:root {
    --beige: #FFF8EC;
    --white: #ffffff;
    --navy: #005e70;
}
@font-face {
    font-family: headerFont;
    src: url(Figtree-Regular.ttf);
}

.btn {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.btn:focus {
    outline-style: none;
}

* {
    color: var(--fontColor);
    font-family: headerFont;
}

body {
    background: var(--bg);
}

ul {
    font-family: headerFont;
}

img {
    border-radius: 25px;
    width: 200px;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

.light-theme {
    --bg: var(--beige);
    --fontColor: var(--navy);
    --btnBg: var(--navy);
    --btnFontColor: var(--white);
}

.dark-theme {
    --bg: var(--navy);
    --fontColor: var(--beige);
    --btnBg: var(--white);
    --btnFontColor: var(--navy);
}